<!DOCTYPE html>
<html ng-app="LeaveRequestWebApp" ng-controller="LandingPageController" lang="en">
<head>
    <title ng-bind="models.applicationName"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/content/bootstrap")
    @Styles.Render("~/Content/css")
</head>
<body>
    
    <div ui-view></div>
    
    @Html.Action("JsConstants")
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/misc")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/core")
    @Scripts.Render("~/bundles/angular-core")
</body>
</html>